<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdf.factory.user.mapper.AdminRoleMapper">
    <resultMap id="BaseResultMap" type="com.cdf.factory.user.entity.AdminRoleDO">
        <result column="admin_id" property="adminId" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
    </resultMap>
</mapper>